body{
	background: #000;
}
#main{
	display: flex;
	align-items: center;
	flex-direction: column;
}
#main h1{
	color: #fff;
	text-align: center;
}
#main img{
	width: 80%;
	max-width: 500px;
}
#main button{
	color: #000;
	background-color: #fff;
	border: none;
	margin-top: 10px;
	width: 70%;
	min-width: 60px;
	max-width: 90px;
	min-height: 20px;
	max-height: 30px;
}
#description{
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #00FF00;
	border-top: 1px solid #00FF00;
	margin-top: 10px;
}
#description p{
	color: #fff;
}