#panel-end{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#panel-end a{
	display: block;
	width: 20%;
}
#git{
	aspect-ratio: 1 / 1;
	min-height: 40px;
	max-height: 50px;
	display: block;
}
strong, li, h2{
	color: #fff;
}